<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand">
    <img class="logo" src="https://cognizantonline.sharepoint.com/:f:/r/sites/TestWeb/Shared%20Documents/Covid-19-Tracker/favicon.ico" alt="website_icon">
    COVID-19 DASHBOARD</a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul> -->
  </div>
</nav>